.logo {
  padding-left: 15px;
  font-weight: bold;
}

.logo > img {
  height: 55px;
  padding-top: 5px;
  object-fit: contain;
}

.container {
  border: solid 1px #000;
  margin-top: 35px;
  padding: 25px;
}

.img-paper-scissor {
  display: flex;
  justify-content: space-evenly;
}

.img-paper > img,
.img-scissor > img {
  height: 160px;
}

.img-rock {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  height: 160px;
}

img:hover {
  box-shadow: 0 0 11px #4a148c;
  cursor: pointer;
}

.btn-refresh {
  background-color: #4a148c;
  color: white;
  padding: 8px;
  border: none;
  margin: 5px auto;
  display: flex;
}
